<style type="text/css">
<!--
.style2 {
    color: #006600;
    font-size: medium;
    font-weight: bold;
}
.style4 {font-size: medium}
.style5 {
    font-weight: bold;
    color: #CC0000;
    font-size: x-large;
}
.style6 {
    font-size: large;
    font-weight: bold;
}
.style7 {font-size: large}
-->
</style>
<p class="style4">Welcome to the <span class="style5">aaBridge</span> help file. </p>
<p class="style4">aaBridge is a simple Bridge playing app written by Roger Pfister see <a href="http://RogerPf.com">http://RogerPf.com</a> </p>
<p class="style4">aaBridge is in tended for use by those new to the game of Bridge and by others who want practice at the rapid evaluaton of hands.. It <strong>always</strong> gives you good cards to play. :) aaBridge has been designed to be self documenting and all the features are intened to be discoverable just by using them, hence this help file is very short. </p>

<p class="style4">You can open a saved <strong>.lin</strong> deal file by  Drag and Drop, just drop the file onto the <strong>aaBridge</strong> window. </p>
<p class="style4">The thick bars (right and bottom) are 'splitters', drag them to reveal the many dealing options.</p>
<p class="style4">Above all please remember to enjoy using the app, that after all is why we play. </p>
<p class="style4">And YES - the &quot;automatic player&quot; does CHEAT and peek at the hidden cards. Why? - So that you get to experience the best defense. Why would you want poor defense, holding such good cards, what would that teach you. :)</p>
<p class="style4">&nbsp; </p>
<p class="style4"><span class="style6">P.S.</span> Any similarity between <span class="style6">aaBridge</span> and <strong>http://BridgeBaseOnline.com</strong> is intentional. :) It's a great site.</p>
<p class="style4">aaBridge is written in Java and so will run on Windows, MACs and Linux/Unix. It has been (will be) released as open source. The sources are available from (to be supplied).</p>
<p class="style4"><span class="style6">Roger Pfister </span>(July 2013) </p>
<p class="style4">&nbsp;</p>
